{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">



            </div>
        </div>
    </div>
    <canvas class="fireworks" {{ stimulus_controller('fireworks') }}></canvas>
{% endblock %}