{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">


                <div class="card bg-white p-2 rounded mb-3">
                    <div class="card-body">
                        <h1 class="display-2">
                            <span class="fw-light">Welcome to</span>
                            <span class="text-black fw-bold">Town</span>
                            <span class="text-primary fw-bold">Point</span></h1>
                        <p class="lead">
                            What would a social media platform look like if it was actually good for you?
                            And what if it was also good for society? What would that look like?
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="list-group list-group-flush">
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="h5 m-0">No adverts</div>
                            <span class="h1 mdi mdi-check-circle-outline text-success"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="h5 m-0">No creeping, spying or selling data</div>
                            <span class="h1 mdi mdi-check-circle-outline text-success"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="h5 m-0">we promote positive action, collaboration and healthy work/life
                                balance
                            </div>
                            <span class="h1 mdi mdi-check-circle-outline text-success"></span>
                        </div>
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="h5 m-0">Optomised for learn and self development</div>
                            <div class="h1 mdi mdi-check-circle-outline text-success"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <canvas class="fireworks" {{ stimulus_controller('fireworks') }}></canvas>
{% endblock %}