{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4">
               LIST OF INTERACTORS
            </div>
        </div>
    </div>
{% endblock %}