parameters:
	level: 8
	paths:
		- ./src/Twig/Extension/InstanceOfExtension.php
	ignoreErrors:
	    - '#Property [a-zA-Z0-9\\_::]+\$id is never written, only read.#'
	reportUnmatchedIgnoredErrors: false
	checkMissingIterableValueType: false
