{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <turbo-frame id="new-phone-number-frame" target="_top">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <a class="btn btn-outline-primary"
                               href="{{ path('account', {'_fragment': 'phone-numbers'}) }}" data-turbo-frame="_top">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="mdi mdi-arrow-left me-4"></span>
                                    <div>{{ 'account'|trans }}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ include('phone-number/_form.html.twig') }}
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>
{% endblock %}