<turbo-frame id="new-phone-number-frame">
    <div class="card">
        <div class="card-body">
            {{ include('phone-number/form.html.twig', {
                path: path('create_phone_number', {id: phoneNumber.id}),
                edit: false
            }) }}
        </div>
    </div>
</turbo-frame>