{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" {{ stimulus_controller('scroll-to') }}>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="fs-3 mb-3">
                    {{ 'recently-online'|trans }}
                </div>
                <div class="row justify-content-between g-3" hx-get="{{ path('get_active_users') }}" hx-trigger="load">
                    {{ include('partial/_loading-spinner.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}