{{ form_start(commentForm, {
   action: path
}) }}
<div class="input-group">
    {{ form_widget(commentForm.content) }}
    <button type="submit" class="btn btn-primary">
        <span class="mdi mdi-send fs-3"></span>
    </button>
</div>
{{ form_end(commentForm) }}