{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <turbo-frame id="new-group-frame" target="_top">
                <div class="card">
                    <div class="card-header">
                        {{ 'create-group'|trans }}
                    </div>
                    <div class="card-body">
                        {{ include('group/_form.html.twig') }}
                    </div>
                </div>
            </turbo-frame>
        </div>
        </div>
    </div>
{% endblock %}