<div {{ attributes }}>
    <h1>{{ max }}</h1>
    <div class="input-group">
        <input class="form-control" type="number" data-model="max" />
        <span class="input-group-text" id="basic-addon1">{{ this.randomNumber }}</span>
    </div>
</div>