{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-12 col-md-6">
                <div class="card border-0 text-danger bg-gradient">
                    <div class="card-body">
                        <span class="display-1 m-0 mdi mdi-alert-outline"></span>
                        <div class="display-3 fw-bold">{{ 'something-went-very-wrong'|trans }}</div>
                        <hr/>
                        <div class="display-5">{{ 'sorry about this! The problem is on our end.'|trans }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}