{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <nav aria-label="breadcrumb">
                    <div class="breadcrumb">
                        <div class="breadcrumb-item">
                            <a href="{{ path('show_earth') }}">{{ 'earth'|trans|title }}</a>
                        </div>
                    </div>
                </nav>

                <div class="row g-1">
                    {% for continent in continents %}
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    {{ continent.value|title }}
                                </div>
                                <a class="stretched-link" href="{{ path('show_continent', { continent: continent.value }) }}"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>
{% endblock %}