{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="display-3 mb-2">
                    {% if mode.mode == 'WORK' %}
                        <span class="bg-grey badge text-info rounded-pill" href="#">{{ mode.mode }}</span>
                    {% elseif mode.mode == 'PLAY' %}
                        <span class="bg-grey badge text-danger rounded-pill" href="#">{{ mode.mode }}</span>
                    {% else %}
                        <span class="bg-grey badge text-success rounded-pill" href="#">{{ mode.mode }}</span>
                    {% endif %}
                </div>

                {{ wiki|raw }}

            </div>
        </div>
    </div>

{% endblock %}

