<turbo-frame id="user-account-qr-frame">
    <div class="text-center mb-2">
        <a href="{{ path('dashboard') }}">
            <img class="img-fluid w-50" src="{{ qr }}"/>
        </a>
    </div>
</turbo-frame>