<turbo-frame id="user-search-form-frame" >
    {{ form_start(searchForm, {
        action: path('_user_search')
    }) }}
    <div class="input-group">
        {{ form_widget(searchForm.user) }}
        <button type="submit" class="btn btn-outline-secondary">
            <span class="mdi mdi-magnify"></span>
        </button>
    </div>
    {{ form_end(searchForm) }}
</turbo-frame>