{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <turbo-frame id="address-form-frame" target="_top">
                <div class="card">
                    <div class="card-header">
                            <span class="mdi mdi-arrow-left"></span>
                    </div>
                    <div class="card-body">
                        <h5>{{ 'edit-address'|trans }}</h5>
                        {{ include('address/_form.html.twig') }}
                    </div>
                </div>
            </turbo-frame>
        </div>
    </div>
{% endblock %}