{% macro rangeInput() %}
    <style>
        .square {
            pointer-events: none;
            position: relative;
            width: 28px;
            height: 28px;
            margin: 1px;
            background-color: currentColor;
            font-size: 14px;
            border-radius: 50%;
        }
    </style>

    <div {{ stimulus_controller('range-input') }}>
        <div class="square shadow el"></div>
        <div class="square shadow el"></div>
        <div class="square shadow el"></div>
        <input type="range" class="form-range" value="0" min="0" max="100" {{ stimulus_target('range-input', 'input') }}>
    </div>
{% endmacro %}


{% macro range() %}

    <style>
        .time-control {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            font-size: 18px;
        }

        .time-control. input {
            display: none !important;
        }

        .time-control .ruller {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 1px;
        }

        .time-control .line {
            z-index: 10;
            width: 1px;
            height: 12px;
            background-color: #000;
        }

        .time-control .line:nth-child(9n+2) {
            height: 20px;
        }

        .time-control .line:nth-child(90n+2) {
            height: 32px;
        }

        .time-control .line:not(:last-child) {
            margin-right: 3px;
        }

        .time-cursor {
            background-color: #c62828;
            z-index: 2;
            width: 2px;
            height: 48px;
            border-radius: 1px;
            cursor: grab;
        }
    </style>

    <div class="feature-animation" {{ stimulus_controller('range') }}>
        <div class="time-control">
            <div class="h1 value"></div>
            <div class="ruller">
                <div class="time-cursor color-red">
                    <input class="invisible">
                </div>
            </div>
        </div>

    </div>
{% endmacro %}